<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.MyPickMapper">
   <resultMap type="myPickVO" id="myPickRM">
      <result property="restaurantVO.resNo" column="res_no"/>
      <result property="restaurantVO.resName" column="res_name"/>
      <result property="restaurantVO.resLoc" column="res_loc"/>
      <result property="restaurantVO.resImage" column="res_image"/>
      <result property="restaurantVO.resTel" column="res_tel"/>
      <result property="restaurantVO.startTime" column="start_time"/>
      <result property="restaurantVO.endTime" column="end_time"/>
   </resultMap>
   <insert id="addMyPick">
      insert into ko_my_pick(pick_no,id,res_no)
      values (ko_my_pick_seq.nextval,#{id},#{resNo})
   </insert>
   
   <select id="findMyPickListById" resultMap="myPickRM">
      SELECT p.res_no, r.res_image, r.res_name, p.id, r.res_loc,r.start_time,r.end_time
      FROM ko_my_pick p, ko_restaurant r 
      WHERE p.res_no=r.res_no AND p.id=#{value}
   </select>
   
   <delete id="deleteMyPick">
      delete from ko_my_pick
      where pick_no=#{value}
   </delete>
   
   <delete id="deleteMyPickByIdAndResNo">
      delete from ko_my_pick
      where res_no=#{resNo} and id=#{id}
   </delete>

</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 















