<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.ReservationMapper">
	<insert id="registerReservation" parameterType="reservationVO">
		insert into ko_reservation(rev_no,rev_time,rev_headcount,res_no,id)
		values(ko_reservation_seq.nextval,#{revTime},#{headCount},#{restaurantVO.resNo},#{memberVO.id})
	</insert>
	<select id="findReservationById" resultType="reservationVO">
		select a.rev_no, b.res_name, a.rev_headcount, a.rev_time 
FROM KO_RESERVATION a, KO_RESTAURANT b
where  a.res_no=b.res_no  AND a.id=#{value}
	</select>	
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
















