<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.ReviewMapper">
	<insert id="registerReview" parameterType="reviewVO">
		insert into ko_review(review_no, review_title, review_content, review_image, review_regdate, review_grade, res_no, id)
		values(ko_review_seq.nextval, #{reviewTitle}, #{reviewContent}, #{reviewImage}, sysdate, #{reviewGrade}, #{restaurantVO.resNo}, #{memberVO.id})
	</insert>
	<select id="getAllReview" resultType="reviewVO">
		select * from ko_review
	</select>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
















